body {
	font-family: 'Helvetica','Arial',sans-serif;
  font-size: 13px;
}

.below100 {
	color: red;
}

table.percents {
	font-size: 20px;
	text-align: center;
	padding: 10px;
	border-collapse: collapse;
	margin: 20px;
	tr {
		border-bottom: 1px dotted black;
	}
	td {
		padding-top: 15px;
		padding-bottom: 3px;
		min-width: 100px;
	}
	th.not-blank {
		width: 100px;
	}	
	td.al {
		text-align: right;
	}
}

.bar-container {
	margin: 20px;
	margin-bottom: 100px;
	width: 600px;
	
	h2 {
		text-align: center;
		margin: 0px;
	}		
	canvas.bar-back {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 0;
	}
	canvas.bar-front {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
	}
	div.bar-relative {
		position: relative;
	}
}

.explanation {
	text-align: center;
	font-style: italic;
	font-weight: normal;
	margin-top:0px;
}

td.explanation {
	text-align: left;
	font-size: 10pt;
}

div.header {
	width: 600px;
	text-align: center;
	h1 {
		margin-bottom: 5px;
	}
}

div.footer{
	margin-top: 200px;
}